@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-ckb-red: #8d1812;
  --color-ckb-red-dark: #721410;
  --color-ckb-red-light: #a01e18;
  --color-ckb-dark: #2c2c2c;
  --color-ckb-gray: #f1f1f1;
  --font-lobster: "Lobster", cursive;
}

@font-face {
  font-family: "Lobster";
  src: url("/fonts/Lobster-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
